body {
    background-color: #36384D;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
}

.card {
    background-color: #FFFFFF;
    border-radius: 36px;
    color: #242742;
    width: 928px;
    height: 641px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.image-col {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

input, label {
    display: block;
}

