body {
    background-color: #36384D;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
}

.card {
    background-color: #FFFFFF;
    border-radius: 36px;
    color: #242742;
    height: 641px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.content {
    width: 376px;
    padding-left: 44px;
    padding-right: 44px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heading {
    font-size: 56px;
    margin-bottom: 10px;
}

.blurb {
    margin: 10px 0px;
}

.icon {
    margin-right: 7px;
}

.image-col {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 376px;
    padding-left: 44px;
    padding-right: 44px;
}

.li {
    margin-bottom: 1px;
}

p {
    display: flex;
}

span {
    margin-left: 10px;
}

input, label {
    display: block;
}

input {
    color: #19182B;
    opacity: 25%;
    margin-top: 8px;
}

input:hover {
    opacity: 100%;
    transition: 0.3s;
}

input:focus {
    opacity: 100%;
    transition: 0.3s;
}

label {
    font-weight: bold;
}

form {
    margin-top: 35px;
}

.form-item {
    width: 100%;
    height: 56px;
    padding: 0;
    border-radius: 8px;
}

label {
    font-size: 12px;
}

.text-field {
    font-size: 16px;
    padding-left: 16px;
    max-width: 94.6%;
}

button {
    margin-top: 24px;
    color: hsl(0, 0%, 100%);
    font-weight: bold;
    border: none;
    border-radius: 8px;
    transition: 0.5s;
    font-size: 14px;
}

.btn-1 {
    background-color: hsl(234, 29%, 20%);
    position: relative;
    z-index: 0;
}

.btn-2 {
    background: linear-gradient(180deg, #FF6A3A, #FF527B); 
    position: relative;
    z-index: 1;
    top: -80px;
    opacity: 0%;
}

/* Limited to do gradient transition. Solution: place pseudo element in z-index right behind
button, then bring up element on hover*/

.btn-2:hover {
    opacity: 100%;
    transition: 0.3s;
}

.success-message {
    display: none;
}

#submittedEmail {
    margin-left: 0;
    font-weight: bold;
}


